<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Andreas Buob, Software Engineer in Bern, Switzerland." />
        <title>{{ .Title }}</title>
        {{ $styles := resources.Get "css/styles.css" | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
        <link rel="icon" href="/images/andreas-buob.jpg" />
    </head>
    <body>
        <aside>
            <figure class="author-image-container">
                <img class="author-image" src="/images/andreas-buob.jpg" alt="Andreas Buob" height="150" width="150" />
                <figcaption class="author-name">Andreas Buob</figcaption>
            </figure>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <article>{{ block "main" . }}{{ end }}</article>
        </main>
    </body>
</html>
