{{ define "main" }}
    <h1>Cordon Bleu Journal</h1>
    <p>
        A friend of mine and I share a passion for Cordon Bleus - and are thus frequently trying out Cordon Bleus in various restaurants in
        the vicinity of Bern.
    </p>
    <p>
        I'm typically quite environmentally conscious and tend to have political opinions to that effect, so my rather carnivorous hobby
        might seem a bit hypocritical. I'm fully aware that it's not exactly the pinnacle of ecological behavior. However, given that I do
        not drive a car myself and almost never take a plane (state of 2025: twice in life), I feel like I'm still doing alright overall.
        Feel free to cast stones though :)
    </p>
    {{ range .Pages.ByPublishDate.Reverse }}
        <h2 class="list-page--item-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        {{ $dateTimeIso := .Date.Format "2006-01-02" }}
        {{ $dateTimeHuman := .Date.Format "January 2, 2006" }}
        <time datetime="{{ $dateTimeIso }}">{{ $dateTimeHuman }}</time>

        {{ with .Resources.GetMatch .Params.image }}
            {{ $thumb := .Resize "240x webp" }}
            <div>
                <img
                    src="{{ $thumb.RelPermalink }}"
                    width="{{ $thumb.Width }}"
                    height="{{ $thumb.Height }}"
                    alt="{{ $.Title }}"
                    loading="lazy"
                />
            </div>
        {{ end }}
        <hr />
    {{ end }}
{{ end }}
